.v-application--wrap {
  flex: 1 1 auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  min-height: auto;
  max-width: auto;
  position: relative;
}


.theme--light.v-application {
  background: transparent;
  color: inherit;
}
